@import '../../../assets/variables';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
}

.home {
  &__title {
    font-size: $heading-font-size;
    color: $primary-text-color;
    margin-bottom: 16px;
  }

  &__text {
    font-size: $paragraph-font-size;
    color: $secondary-text-color;
  }
}
